<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-condensed" id="opt-domain-table">
        <thead>
            <tr>
                <th>Domain</th>
            </tr>
        </thead>
        <tbody>
            {% for domain in domains %}
                <tr>
                    <td>{{ domain.getDomain() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>