/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db


# config file(s)
/app/config/app.php
/app/config/mail.php
/config.php

# components
/components


# assets
/public/assets/minified/*.js
/public/assets/minified/*.css
