/vendor
/node_modules
/public/storage
ci/Homestead.yaml
ci/Homestead.json
.env

## Development
/.idea/
/.vagrant/
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

## Assets
/public/assets/min
