ip: 192.168.10.10
memory: 2048
cpus: 2
hostname: sqlgreygui
name: sqlgreygui
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    - { map: /path/to/src, to: /home/vagrant/Code }
sites:
    - { map: sqlgreygui.local, to: /home/vagrant/Code/public }
databases:
    - homestead
