/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db


# config files
/app/config/app.php
/app/config/database.php
/app/config/mail.php


# components
/components


# assets
/public/assets/minified
