<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="opt-email-table">
        <thead>
            <tr>
                <th>eMail</th>
            </tr>
        </thead>
        <tbody>
            {% for email in emails %}
                <tr>
                    <td>{{ email.getEmail() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>