{% extends "layouts.base" %}

{% block title %}
    {{ parent() }}Opt-out > Domains
{% endblock %}

{% block content %}
    <h3 class="page-header"><i class="fa fa-minus-square fa-fw"></i> Opt-out > <i class="fa fa-globe fa-fw"></i> Domains</h3>

    {{ alert('info', 'These domains are never greylisted') }}

    {{ listDomains(domains, 'OptOutController') }}
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#opt-domain-table').dataTable({
                order: [1, 'asc'],
                aoColumnDefs: [
                    {bSortable: false, aTargets: [0]}
                ],
                fnDrawCallback: function (oSettings) {
                    addCheckboxTrigger('#opt-domain-table tbody tr');
                },
            });

            addSelectAllTrigger('#opt-domain-select_all', '#opt-domain-table tbody tr td');
        });
    </script>
{% endblock %}
