{% extends "layouts.base" %}

{% block title %}
    {{ parent() }}Opt-out > eMails
{% endblock %}

{% block content %}
    <h3 class="page-header"><i class="fa fa-minus-square fa-fw"></i> Opt-out > <i class="fa fa-envelope-o fa-fw"></i> eMails</h3>

    {{ alert('info', 'eMails for these recipients will never be greylisted') }}

    {{ listEmails(emails, 'OptOutController') }}
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#opt-email-table').dataTable({
                order: [1, 'asc'],
                aoColumnDefs: [
                    {bSortable: false, aTargets: [0]}
                ],
                fnDrawCallback: function (oSettings) {
                    addCheckboxTrigger('#opt-email-table tbody tr');
                },
            });

            addSelectAllTrigger('#opt-email-select_all', '#opt-email-table tbody tr td');
        });
    </script>
{% endblock %}
