{% extends "layouts.base" %}

{% block title %}
    {{ parent() }}Settings
{% endblock %}

{% block content %}
    <h3 class="page-header"><i class="fa fa-gear fa-fw"></i> Settings</h3>

    <a href="{{ action('SettingController@changePassword') }}" class="btn btn-primary"><i class="fa fa-lock fa-fw"></i> Password</a>
    <a href="{{ action('SettingController@changeEmail') }}" class="btn btn-primary"><i class="fa fa-envelope fa-fw"></i> eMail</a>
{% endblock %}