{% extends "layouts.base" %}

{% block title %}
    {{ parent() }}OptIn > Domains
{% endblock %}

{% block content %}
    <h1><i class="fa fa-plus-square fa-fw"></i> OptIn > <i class="fa fa-globe fa-fw"></i> Domains</h1>
{% endblock %}