{% extends "layouts.base" %}

{% block title %}
    {{ parent() }}Opt-in > Domains
{% endblock %}

{% block content %}
    <h3><i class="fa fa-plus-square fa-fw"></i> Opt-in > <i class="fa fa-globe fa-fw"></i> Domains</h3>
    
    <div class="alert alert-info">
        <i class="fa fa-fw fa-info-circle"></i> These domains are always greylisted unless they are present in the opt-out list
    </div>
    
    {{ html_list_domains(domains) }}
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            $('#opt-domain-table').dataTable({
            });
        });
    </script>
{% endblock %}