{% extends "layouts.base" %}

{% block title %}
    {{ parent() }}OptIn > eMails
{% endblock %}

{% block content %}
    <h1><i class="fa fa-plus-square fa-fw"></i> OptIn > <i class="fa fa-envelope-o fa-fw"></i> eMails</h1>
{% endblock %}