{% extends "layouts.base" %}

{% block title %}
    {{ parent() }}About
{% endblock %}


{% block content %}
    <h3 class="page-header"><i class="fa fa-fw fa-info-circle"></i> About</h3>
    
    <a href="https://github.com/lbausch" target="_blank">https://github.com/lbausch</a>
{% endblock %}