{% extends "layouts.base" %}

{% block title %}
    {{ parent() }}About
{% endblock %}


{% block content %}
    <h3 class="page-header"><i class="fa fa-fw fa-info-circle"></i> About</h3>
    
    Some icons by <a href="http://p.yusukekamiyamane.com/" target="_blank">Yusuke Kamiyamane</a>. Licensed under a <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0 License</a>.
{% endblock %}