{% extends "layouts.base" %}

{% block title %}
    {{ parent() }}OptOut > Domains
{% endblock %}

{% block content %}
    <h1><i class="fa fa-minus-square fa-fw"></i> OptOut > <i class="fa fa-globe fa-fw"></i> Domains</h1>
{% endblock %}