{% extends "layouts.base" %}

{% block title %}
    {{ parent() }}OptOut > eMails
{% endblock %}

{% block content %}
    <h1><i class="fa fa-minus-square fa-fw"></i> OptOut > <i class="fa fa-envelope-o fa-fw"></i> eMails</h1>
{% endblock %}