{% extends "layouts.base" %}

{% block title %}
    {{ parent() }}Whitelisted > Domains
{% endblock %}

{% block content %}
    <h1><i class="fa fa-thumbs-o-up fa-fw"></i> Whitelisted > <i class="fa fa-globe fa-fw"></i> Domains</h1>
{% endblock %}