{% extends "layouts.base" %}

{% block title %}
    {{ parent() }}Whitelisted > eMails
{% endblock %}

{% block content %}
    <h1><i class="fa fa-thumbs-o-up fa-fw"></i> Whitelisted > <i class="fa fa-envelope-o fa-fw"></i> eMails</h1>
{% endblock %}