{% extends "layouts.base" %}

{% block title %}
    {{ parent() }}Opt-in > eMails
{% endblock %}

{% block content %}
    <h3 class="page-header"><i class="fa fa-plus-square fa-fw"></i> Opt-in > <i class="fa fa-envelope-o fa-fw"></i> eMails</h3>
    
    {{ html_alert('info', 'eMails for these recipients will always be greylisted unless they are present in the opt-out list') }}
    
    {{ html_list_emails(emails, 'OptInController') }}
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            $('#opt-email-table').dataTable({
                order: [1, 'asc'],
                aoColumnDefs: [
                    {bSortable: false, aTargets: [0]}
                ],
            });

            addCheckboxTrigger('#opt-email-table tbody tr');
            addSelectAllTrigger('#opt-email-select_all', '#opt-email-table tbody tr td');
        });
    </script>
{% endblock %}