{% extends "layouts.base" %}

{% block title %}
    {{ parent() }}Opt-out > eMails
{% endblock %}

{% block content %}
    <h3 class="page-header"><i class="fa fa-minus-square fa-fw"></i> Opt-out > <i class="fa fa-envelope-o fa-fw"></i> eMails</h3>

    {{ html_alert('info', 'eMails for these recipients will never be greylisted') }}

    {{ html_list_emails(emails) }}
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            $('#opt-email-table').dataTable({
            });
        });
    </script>
{% endblock %}